* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /*margin: 0 auto;*/
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
}

.wrap {
  width: 485px;
}

.top-bar {
  height: 45px;
  background: #1c1c1d;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;

  .user-pic {
    img {
      width: 42px;
    }
  }

  .chats-bottom {
    font-size: 13pt;
  }

  .chats-container {
    position: relative;
    display: flex;
    padding-left: 5px;
    align-items: center;

    &::before {
      content: "<";
      font-family: "Kosugi Maru", sans-serif;
      font-size: 24pt;
      padding-right: 0.5rem;
    }
  }

  .user-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .last-seen {
    font-size: 10pt;
    color: #8e8e8e;
  }
}

#main {
  height: 470px;
  background: #efeeeb;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;


  &::-webkit-scrollbar {
    display: none;
  }

  .bubble {
    padding: 0.2vh;
    display: flex;
    flex-direction: row;
    background: black;
    color: white;
    margin-top: 5px;
    position: relative;
    max-width: 75%;

    .bubble-text {
      padding-left: 5px;
      padding-right: 39px;
      padding-top: 2px;
      padding-bottom: 2px;

    }

    .bubble-time {
      color: #8e8e8e;
      font-size: 8pt;
      padding-right: 10px;
      bottom: 0;
      right: 0;
      display: inline-block;
      position: absolute;
      padding-bottom: 3px;
    }
  }

  .bubble.mine {
    align-self: flex-end;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 10px;
    margin-right: 10px;
  }

  .bubble.yours {
    align-self: flex-start;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 15px;
    margin-left: 10px;
  }

  .bubble.yours.last::before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -8px;
    height: 10px;
    width: 15px;
    border-bottom-right-radius: 17px;
    margin-top: 12px;
    background: black fixed;
  }

  .bubble.yours.last::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 17px;
    background: #efeeeb;
    border-bottom-right-radius: 10px;
  }

  .bubble.mine.last::before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 10px;
    width: 15px;
    border-bottom-left-radius: 17px;
    margin-top: 12px;
    background: black fixed;
  }

  .bubble.mine.last::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 17px;
    background: #efeeeb;
    border-bottom-left-radius: 10px;
  }

}

.footer-bar {
  display: flex;
  flex-direction: row;
  height: 45px;
  background: #1c1c1d;
  align-items: center;

  .attachment-container {
    padding: 9px;

    svg {
      width: 22px;
    }
  }

  .voice-container {
    padding: 6px;

    svg {
      width: 25px;
    }
  }

  .writing-container {
    width: 85%;
    padding-top: 5px;

    input {
      border-radius: 20px;
      background: #060606;
      font-family: "Roboto", sans-serif;
      color: #8e8e8e;
      width: 101%;
      margin: 0;
      height: 33px;
      border: 1px solid #8e8e8e;

      &:focus {
        outline: none;
      }
    }
  }
}

#input-file {
  display: none;
}

.modal-wrap {
  width: 485px;
  height: 560px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  position: absolute;
  top: 8px;
  display: flex;
  justify-content: center;

  .modal-container {

    position: absolute;
    width: 95%;
    height: 60%;
    bottom: 10px;


    .modal {
      height: 80%;
      background: #1c1c1d;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      button {
        height: 15%;
        background: #1c1c1d;
        color: white;
        border-bottom: 0.5px white solid;
        border-right: 1px #1c1c1d solid;
        border-left: 1px #1c1c1d solid;
        border-bottom: 1px #1c1c1d solid;
        font-family: "Roboto", sans-serif;
        font-size: 13pt;
        cursor: pointer;

        &:focus{
          
        }
      }

      .contact {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }

    .cancel {
      width: 100%;
      height: 13%;
      position: absolute;
      bottom: 0;
      border-radius: 10px;
      background: #1c1c1d;
      color: white;
      border-style: none;
      font-family: "Roboto", sans-serif;
      font-size: 13pt;
      cursor: pointer;
    }

  }
}